body{
    width:100%;
    margin: 0;
}
.header{
    width:100%;
    background-color: black;
    padding:1px;
    text-align: center;
}
.nav{
    width: 100%;
    background-color:silver;
    padding: 2px;
   text-align: center;
}
form input{
    display: inline-block;
}
.main-section{
    border-radius: 15px;
    border: 1px solid silver;
    height: 500px;
    width:700px;
    background-color:#f9f9f9;
    padding-top:25px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin: 0 auto;

    
}
.grid-for-keys{
   
    border-radius: 10px;
    border:4px solid #d8d8d8;
    height: 270px;
    width:640px;
    background-color:#f9f9f9;
    margin:0 auto;
    padding: 10px;
    box-shadow:2px 2px 1px #d8d8d8;
}
.keyboard-pad{
    border-radius: 15px;
    border: 3px solid silver;
    height: 170px;
    width:33%;
    background-color:#f9f9f9;
    margin: 140px auto 0;
  
}
.row-1 {
    width:900px;
    height:30px;
    margin-top:-7px;
    margin-left:px;
    padding-top:6px;   
}
.row-2{
    width:100%;
    height:30px;
    margin-top:-8px;
    margin-left:-12px;
    padding:10px;
    

 
}

.row2-cols-button{
     padding: 3px 15px;
    
}
.delete-button{
    padding:19px 0 0 18px;
    text-align: right;
    margin-top: px;
    position: absolute;
    margin-left:3px;
    
}

.row-3{
    width:100%;
    margin-top:-3px;
    margin-left:-12px;
    height: 40px;
    position: relative;
}


.row-3-column1{
    width:4%;
    position: absolute;
    top: 4px;
    left: 8px;
}

.row-3-column2{
    width:80%;
    position: absolute;
    top: 4px;
    left: 78px;
    
  
  
   
}
.row-3-column3{
    width:20%;
    font-size:xx-small;
    position: absolute;
    top: 4px;
    left:540px;
  
    
  
   
   
}
.row-3-cols{
    background-color: black;
    border-radius:4px;
    border:2px solid black;
   

   
   
    

}
.tab-style{

    padding:25px 43px 1px 1px;
    
}
.row3-letters-style{
    padding:13px 15px;
}
.row-3-symbols{
    padding:7px 15px;
}
.uuu{
    display: inline-block;


}
.cols{
    background-color: black;
    display: inline-block;
    border-radius: 3px;
    border:2px solid black;
   
    

}

.f-keyboards-tyle{
    margin: 0 auto;
    padding: 5px 12px;
    text-align: center;
   

}
.esc-keyboard-style{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}
.blackboard-style{
    width: 10px;
    padding: 8px;
    height: 8px;
    margin-top: px;
    margin-left: 4px;
    position: absolute;

}
.font-style{
    color:white;
    font: 12px Arial, sans-serif;
    
}
.row-4{
    width:100%;
    height: 20px;
    margin-top:12px;
    position: relative;
}

.row-4-column1{
    width:10%;

}
.row-4-column2{
    width:65%;
    position: absolute;
    left:75px;
    top:-1px;
}
.row-4-column3{
    width:5%;
    position: absolute;
    right:116px;
    top:-2px;
  
}
.row-4-column4{
    width:5%;
    position: absolute;
    right:75px;
    top:-1px;
}
.row-4-column5{
    width:12%;
    position: absolute;
    right:-8px;
    top:-1px;
    
   
}
.row-4-cols{
    background-color: black;
    border-radius:4px;
    border:2px solid black; 

}
.capslock-style{
     padding: 24px 20px 0 0;
     position: absolute;
     left:-5px;
     top:-1px;

}
.row4-letters-style{
    padding:13px 15px;
}
.Punctuation{
    padding:7px 10px;
}
.row-4-symbols{
    padding:7px 15px;
}
.return-keyboard{
    padding: 27px 25px 0 0;
   
}
.row-5{
    width:100%;
    height: 20px;
    margin-top:12px;
    position: relative;
}
.row-5-num1{
    width:8%;

}
.shift-button1{
    width:10%;
    position: absolute;
    left:-5px;
    padding: 24px 21px 0 0;
    top:14px;
    background-color: black;
}
.row-5-num2{
    width:60%;
    left:86px;
    top:14px;
    position:absolute;
}
.row-5-num3{
    width:3%;
    background-color: black;
    right:187px;
    top:14px;
    position:absolute;
    text-align: center;

  
}
.row-5-num4{
    width:3%;
    background-color: black;
    right:140px;
    top:14px;
    position:absolute;
    text-align: center;
}
.row-5-num5{
    width:3%;
    background-color: black;
    right:95px;
    top:14px;
    position:absolute;
}
.row-5-num6{
    width:3%;
    
}
.shift-button2{
    background-color: black;
    left:550px;
    top:15px;
    position:absolute;
     padding: 24px 29px 0 0;
     width: 10%;
}
.row-5-key-style{
    background-color: black;
    border-radius:4px;
    border:2px solid black;
   
}
.row5-letters-style{
    padding:13px 15px;
    text-align: center;
}
.row-5-symbols-size{
    padding:6px 10px;
}

.row-6{
    width: 100%;
    position: relative;
    height: 20px;
    margin-top: 20px;
}
.row-6-col-num2{
    width: 3%;
}
.fn-buton{
    background-color: black;
    left:0px;
    top:20px;
    position:absolute;
    padding:30px 30px 0px 0px;

}
.row-6-col-num2{
    width:6%;
    background-color: black;
    left:46px;
    top:20px;
    position: absolute;
    padding-bottom:0px;
    text-align: right;
    height: 44px;

}
.row-6-col-num3{
    width:6%;
    background-color: black;
    left:96px;
    top:20px;
    position: absolute;
    padding-bottom:0px;
    text-align: right;
    height: 44px;
}
.row-6-col-num4{
    width:6%;
    background-color: black;
    left:146px;
    top:20px;
    position: absolute;
    padding:0px 0 0px 10px;
    text-align: right;
    height: 44px;
}
.row-6-col-num5{
    width: 30%;
    background-color: black;
    left:202px;
    top:20px;
    position: absolute;
    text-align: right;
    height: 45px;

}
.row-6-col-num6 {
    width:6%;
    background-color: black;
    left:400px;
    top:20px;
    position: absolute;
    padding:0px 0 0px 10px;
    text-align: right;
    height: 44px;
}
.row-6-col-num7 {
    width:6%;
    background-color: black;
    left:460px;
    top:20px;
    position: absolute;
    padding-bottom:0px;
    text-align: right;
    height: 44px;
}
.row-6-col-num8{
    width:3%;
    background-color: black;
    left:508px;
    top:20px;
    position: absolute;
    padding:10px;
    height: 25px;
   
}
.row-6-col-num9{
    width:3%;
    left:550px;
    top:20px;
    position: absolute;
    padding:10px;
    height: 15px;

}
.top-arrow{
    margin-bottom:3px;
    background-color: black;
    margin-top: -10px;
    margin-left: -5px;
    padding: 2px 20px;
}
.bottom-arrow{
    background-color: black;
    padding: 2px 20px;
    margin-left: -5px;

}
.row-6-col-num10{
    width:3%;
    background-color: black;
    left:603px;
    top:20px;
    position: absolute;
    padding:10px;
    height: 25px;
}